$def with (username)

<table>
    <tr>
        <th>show Users Details：$username</th>
        <th></th>
    </tr>
    <tr><th><label for="username">用户名:</label></th><td><input type="text" id="username" name="username" VALUE=$todos/></td></tr>
    <tr><th><label for="qihao">期  号:</label></th><td><input type="text" id="qihao" name="qihao" VALUE=$todos/></td></tr>
    <tr><th><label for="DrawNo">投注号:</label></th><td><input type="text" id="DrawNo" name="DrawNo" VALUE=$todos/></td></tr>
    <tr><th><td>
</table>